@import url("./_base.css");

.profile-card {
    width: 100vw;
    max-width: 400px;
    background: var(--clr-grey-800);
    text-align: center;
    padding: 32px;
    border-radius: 16px;

    @media screen and (max-width: 375px) {
        width: auto;
        margin-inline: 24px;
    }

    b {
        color: var(--clr-green);
    }

    .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;

        figure {
            margin-bottom: 24px;

            img {
                border-radius: 100px;
                width: 100px;
            }
        }

        h1 {
            margin-bottom: 14px;
        }

        b {
            font-size: 16px;
        }

        p {
            margin-top: 24px;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        a {
            display: block;
            text-decoration: none;
            color: var(--clr-white);
            background: var(--clr-grey-700);
            padding-block: 14px;
            font-weight: var(--fw-600);
            font-size: 16px;
            border-radius: 8px;

            &:hover {
                background: var(--clr-green);
                color: var(--clr-grey-900)
            }
        }
    }
}